
<header class="header">
  <div class="left-container">
    <img src="../../images/hearth_white.png" alt="logo coeur blanc" class="logo">
  </div>
  <div class="right-container">
    <a href="www.google.fr" class="login">Se connecter</a>
    <a href="www.google.fr" class="register">S'inscrire</a>
  </div>
</header>