<!DOCTYPE html>
<html>

<head>

  <% include ../includes/head %>
  <title>Crush - Crée ton compte !</title>
  <script type="text/javascript" src="/js/creation-page.js"></script>


</head>

<body class="account-creation-body">
  <div class="account-creation-container">
      <div class="left-container">
        <a class="return-btn" href="">
          <div class="return-title">Accueil</div>
          <img src="/images/return_arrow.svg" alt="">
        </a>

        <div class="title-page"> <span class="highlight">toi</span>.</div>

        <div class="progression-bar">
          <div class="step step-1 active"></div>
          <div class="step step-2"></div>
          <div class="step step-3"></div>
          <div class="step step-4"></div>
          <div class="step step-5"></div>
          <div class="step step-6"></div>
          <div class="step step-7"></div>
          <div class="step step-8"></div>
        </div>

        <div class="question-container">
          


        </div>

      </div>
      <div class="right-container">
        <div class="personality-bubble">
            <div class="bubble bubble-centered"></div>
            <div class="title">Aventurier</div>
        </div>
      </div>
    
  </div>

</body>

</html>