<!DOCTYPE html>
<html>

<head>

  <!-- <% include ../components/header %> -->
  <% include ../includes/head %>
  <title>Crush</title>
  <script type="text/javascript" src="/js/home.js"></script>


</head>

<body class="home-body">
  <div class="landing-container">
    <div class="left-container">
      <!-- Begin ellipses -->
      <img src="../../images/Ellipse_1.svg" class="ellipse little-ellipse">
      <img src="../../images/Ellipse_2.svg" class="ellipse medium-ellipse">
      <img src="../../images/Ellipse_3.svg" class="ellipse big-ellipse">
        <!-- End ellipses -->
      <img src="../../images/iphone_mockup.svg" class="iphone-mockup" alt="iPhone">
    </div>
    <div class="right-container">
      <div class="title-container">
        <div class="title">Crush</div>
        <div class="desc">Trouvez la personne qui vous correspond parfaitement</div>
        <div class="CTA">Découvrir mon crush</div>
        <div class="subtitle">C'est gratuit, autant en profiter non ?</div>
      </div>
    </div>
    <div class="waves-container">
      <img src="../../images/wave_1.svg" alt="" class="waves wave-1">
      <img src="../../images/wave_1.svg" alt="" class="waves wave-2">
    </div>
  </div>

  <div class="concept-container">
    <div class="left-container">
      <div class="title-container">
        <div class="title">Trouvez la personne parfaite</div>
        <div class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et venenatis lacus. Vestibulum et massa vehicula, fringilla mi quis, blandit magna. Morbi faucibus odio id ipsum elementum pulvinar. Phasellus ullamcorper erat ante, vitae dignissim lectus euismod non. Morbi maximus elit in commodo tincidunt.</div>
        <div class="CTA">Découvrir mon crush</div>
      </div>
    </div>
    <div class="right-container">
      <div class="phones-container">
        <img src="../../images/iphone_mockup.svg" alt="iPhone" class="left-phone">
        <img src="../../images/iphone_mockup.svg" alt="iPhone" class="right-phone">
      </div>
    </div>
  </div>

  <div class="fast-container">
    <img src="../../images/wave_background.svg" alt="fond d'écran" class="wave-bg waves">
    <img src="../../images/wave_background_light.svg" alt="fond d'écran transparent" class="wave-light-bg waves">
    <div class="top-container">
      <div class="title">
        Simple. Rapide. Efficace.<br>Conçu pour vous permettre de trouver rapidement votre crush.
      </div>
      <div class="desc">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et venenatis lacus. Vestibulum et massa vehicula, fringilla mi quis, blandit magna. Morbi faucibus odio id ipsum elementum pulvinar. Phasellus ullamcorper erat ante, vitae dignissim lectus euismod non. Morbi maximus elit in commodo tincidunt.
      </div>
    </div>
    <div class="phones-container">
      <img src="../../images/iphone_mockup_droit.svg" alt="iPhone" class="middle-phone">
      <img src="../../images/iphone_mockup_droit.svg" alt="iPhone" class="right-phone">
      <img src="../../images/iphone_mockup_droit.svg" alt="iPhone" class="left-phone">
    </div>
  </div>

  <div class="data-protection-container">
    <div class="left-container">
      <div class="useless">

      </div>
    </div>
    <div class="right-container">
      <div class="title-container">
        <div class="title">La sécurité comme mot d'ordre</div>
        <div class="desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et venenatis lacus. Vestibulum et massa vehicula, fringilla mi quis, blandit magna. Morbi faucibus odio id ipsum elementum pulvinar. Phasellus ullamcorper erat ante, vitae dignissim lectus euismod non. Morbi maximus elit in commodo tincidunt.
        </div>
        <div class="CTA">En savoir plus</div>
      </div>
    </div>
  </div>

  <div class="end-home-container">
    <img src="../../images/Ellipse_29.svg" class="ellipse little-ellipse">
    <img src="../../images/Ellipse_30.svg" class="ellipse medium-ellipse">
    <img src="../../images/Ellipse_31.svg" class="ellipse big-ellipse">
    <div class="left-container">
      <div class="title">Trouvez la personne qui vous correspond</div>
    </div>
    <div class="right-container">
      <div class="CTA">Découvrir mon crush</div>
    </div>
  </div>

</body>

</html>