.home-body {
  background-color: #ffffff;
  margin: inherit;
  width: 100%;
  font-family: "Sofia Pro";
  .landing-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    font-weight: 300;
    color: #f7f7f7;
    display: flex;
    background: linear-gradient(45deg, #ec5c4a, #ec48ac);
    .left-container {
      flex: 1;
      .ellipse {
        position: absolute;
        top: -20%;
        left: -20%;
      }
      .little-ellipse {
        width: 47%;
      }
      .medium-ellipse {
        width: 57%;
      }
      .big-ellipse {
        width: 67%;
      }
      .iphone-mockup {
        width: 30vw;
        position: absolute;
        bottom: -22vh;
        left: 30vh;
        z-index: 1;
      }
    }
    .right-container {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      .title-container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        text-align: center;
        margin: 0 160px;
        .title {
          font-size: 7.8125vw;
          font-weight: 600;
          margin-bottom: 24px;
          text-shadow: rgba(255, 255, 255, 0.3) 0px 10px 30px;
        }
        .desc {
          font-size: 2vw;
          font-weight: 300;
        }
        .CTA {
          background-color: #f7f7f7;
          color: #363636;
          font-size: 1.63vw;
          font-weight: 600;
          border-radius: 30px;
          padding: 8px 0px;
          width: 88%;
          align-self: center;
          margin-top: 64px;
        }
        .subtitle {
          margin-top: 26px;
          font-weight: 200;
          font-size: 1vw;
        }
      }
    }

    .waves {
      position: absolute;
      width: 100%;
      bottom: 0;
      overflow: hidden;
    }
    .wave-1 {
      
    }
    .wave-2 {
      opacity: 40%;
      left: 20%;
    }
  }

  .concept-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    position: relative;
    color: #363636;
    .left-container {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      .title-container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        text-align: center;
        margin-left: 80px;
        .title {
          font-size: 2.63vw;
          font-weight: 600;
          margin-bottom: 24px;
          color: #000000;
        }
        .desc {
          font-size: 1.13vw;
          font-weight: 300;
          color: #686868;
        }
        .CTA {
          color: #f7f7f7;
          background-color: #000000;
          font-size: 1.63vw;
          font-weight: 600;
          border-radius: 30px;
          padding: 8px 0px;
          width: 88%;
          align-self: center;
          margin-top: 64px;
        }
      }
    }
    .right-container {
      flex: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      .phones-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        img {
          width: 400px;
          &:nth-child(2) {
            transform: rotate(36deg);
            margin-left: -131px;
          }
        }
      }
    }
  }
  .fast-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200vh;
    .waves {
      position: absolute;
      top: 0;
      width: 100%;
    }
    .wave-bg {
      z-index: 1;
    }
    .wave-light-bg {
      margin-top: 50px;
      z-index: -1;
    }
    .top-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      flex: 1;
      margin: 45vw 22vw 0 22vw;
      color: #ffffff;
      z-index: 2;
      .title {
        font-size: 3vw;
        font-weight: 500;
        text-align: center;
      }
      .desc {
        margin: 5vh 12vw;
        font-size: 1.38vw;
        font-weight: 200;
        text-align: center;
      }
    }
    .phones-container {
      flex: 1;
      display: flex;
      flex-direction: row;
      justify-content: center;
      z-index: 2;
      margin: 0;
      img {
        width: 25vw;
        transform: rotate(-1deg);
        &:nth-child(2) {
          width: 35vw;
        }
      }
    }
  }
  .data-protection-container {
    height: 100vh;
    margin: 20vw 0;
    display: flex;
    align-items: center;
    .left-container {
      flex: 2;
    }
    .right-container {
      flex: 1;
      display: flex;
      margin: 50px;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: #000000;
      .title-container {
        margin: 15vh 5vh 0 0;
        .title {
          font-size: 2.63vw;
          font-weight: 600;
          position: relative;
          &::after {
            content: url("../../images/locker_icon.svg");
            position: absolute;
            top: 0;
            right: 0;
          }
        }
        .desc {
          font-size: 1.38vw;
          font-weight: 200;
          color: #5d5d5d;
          margin: 40px 0;
        }
        .CTA {
          color: #f7f7f7;
          background-color: #000000;
          font-size: 1.63vw;
          font-weight: 600;
          border-radius: 30px;
          padding: 8px 0px;
        }
      }
    }
  }
  .end-home-container {
    height: 85vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../../images/Trace8.svg");
    background-size: cover;
    background-repeat: no-repeat;
    .ellipse {
      position: absolute;
      top: -10%;
      left: -15%;
    }
    .little-ellipse {
      width: 57%;
    }
    .medium-ellipse {
      width: 67%;
    }
    .big-ellipse {
      width: 77%;
    }
    .left-container {
      flex: 1;
      .title {
        color: #f7f7f7;
        font-size: 2.63vw;
        font-weight: 600;
        margin: 0px 11vw;
        margin-bottom: 24px;
        text-shadow: rgba(255, 255, 255, 0.3) 0px 10px 30px;
      }
    }
    .right-container {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: #000000;
      .CTA {
        background-color: #f7f7f7;
        color: #363636;
        font-size: 1.63vw;
        font-weight: 600;
        border-radius: 30px;
        padding: 8px 52px;
        align-self: center;
        box-shadow: rgba(255, 255, 255, 0.3) 0px 10px 30px;
      }
    }
  }
}
