<!DOCTYPE html>
<html>

<head>

  <% include ../includes/head %>
  <title>Crush - Crée ton compte !</title>
  <script type="text/javascript" src="/js/home.js"></script>


</head>

<body class="account-creation-body">
  <div class="account-creation-container">
      <div class="left-container">
        <div class="title">Trouve ton crush.</div>
        <div class="description">Quoi de plus facile que d’appuyer sur un bouton pour trouver
            la personne qui nous correspond le plus ? </div>
        <div class="description">Crush c’est une application gratuite, et grâce à elle tu vas trouver 
            la personne parfaite à tes yeux.  </div>
        <div class="rules-container">
            <div class="rule">
                <div class="round"></div>
                <div class="rule-title"></div>
            </div>
        </div>
      </div>
      <div class="right-container">

      </div>
    
  </div>

</body>

</html>