<!DOCTYPE html>
<html>

<head>

  <% include ../includes/head %>
  <title>Paul Mazeau - Accueil</title>
  <script type="text/javascript" src="/js/home.js"></script>


</head>

<body class="home-body">
  <div class="home-container">
    
  </div>

</body>

</html>